<body>
<div class="container">
    <div class="page-content">
        <div class="margin-botton">
            <div class="flex">
                <div class="flex-1">
                    <h1 class="app-title">
                        <i class="fa-solid fa-people-simple">CRUD</i>
                    </h1>
                </div>
                <div class="flex-1">
                    <div class="navbar account-links">
                        <ul>
                            <li>
                                <a asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                                <li>
                                    <a asp-controller="Account" asp-action="Login">Login</a>
                                </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>